@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .room {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  padding-left: 60px;
  padding-right: 60px;
}

h2 {
  display: block;
  font-size: 4em;
  font-family: 'Pacifico';
  text-align: center;
  background: linear-gradient(90deg, 
    rgba(104,197,209,1) 0%, 
    rgba(128,222,234,1) 27%, 
    rgba(164,241,250,1) 67%, 
    rgba(104,197,209,1) 88%
  );
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
  margin: 10px;
}

.login-register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50em;
  width: 100%;
}

.lit {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 45% 55%;
}

.singular-grid {
  display: grid;
  grid-template-columns: 100%;
}

.margin-20 {
  margin: 20px;
}

.smol-container {
    display: flexbox;
    justify-content: center;
}

.mood-picker {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

span.emoji-size {
  font-size: 45px;
}