html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .room {
  height: 100%;
  margin: 0;
  margin-top: 20px;
}
.lit {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 45% 55%;
}

.singular-grid {
  display: grid;
  grid-template-columns: 100%;
}

.margin-20 {
  margin: 20px;
}

.smol-container {
    display: flexbox;
    justify-content: center;
}

.mood-picker {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

span.emoji-size {
  font-size: 45px;
}